

.leftScroll {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: -131px;
  right: 0;
  bottom: -100px;
  left: 0;
  z-index: 1;
  width: 20vw;
  padding: 155px 0 100px 0;
  overflow: scroll;
  margin: 0;
  margin-top: 0px;
  float: left;
  margin-top: 37px;
  border-right: 1px solid #eee;
}



.listItemContainer{
  background-color: #f8f7f7;
}

.listItem{
  display: flex;
  align-items: center;
  font-size: small;
  margin-bottom: 1rem;
  padding: 0rem 2rem;
}

.listItem .text{
    margin-left: 1rem;
}

.menuItem{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size:0.9rem;
  background-color: #efefef;


}

.menuItem .text{
  color: rgb(0, 0, 0);
 
  margin-left: 1rem;

}

.menuItem .Icon{
  color: #504d4d;
  align-items: center;
  padding: 0.2;
}

.categoryBar {
  width: auto;
  display: flex;
  overflow-x: scroll;
}

.categoryBar::-webkit-scrollbar {
  display: none;
}


.bannerContainer {
  width: auto;
  text-align: center;
}

.feeds {
  padding: 0.5rem;
}
.feedHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tileContainer {
  margin: 0.4rem;
  padding: 0.3rem;
  width: auto;
  height: auto;
  background-color: #dedede;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: rgb(0, 0, 0);
}

.tile {
  display: flex;
}

.tile:hover {
  cursor: pointer;
}

.cards {
  display: flex;
  overflow-x: scroll;
}


.mp_main {
  width: 100%;
  margin: 0 auto;
  float: left;
  position: relative;
  background-color: #fff;
  padding-top: 0;
}




.listItemContainer:hover{
  cursor: pointer;
  background-color: #dedede;
}

.menuItem:hover{
  cursor: pointer;
  background-color: #dedede;
}

.menuItem .Icon:hover{
  color: rgb(239, 14, 14);

}

.cards:hover{
  cursor: pointer;
}

.tileContainer:hover{
  cursor: pointer;
  color: #ffffff;
  background-color:  rgb(239, 14, 14);
}

.cards::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .categoryBar {
    display: none;
  }

  .bannerContainer {
    margin-top: 2rem;
  }
}


@media only screen and (max-width: 768px){
    .leftScroll{
        display: none;
    }

    .contentRight{
        width: 100%;
    }
}