.footerContainer{
    margin-top: 2rem;
    height: 80%;
    
}

.goldMain{
    align-items: center;
    justify-content: center;
    text-align: center;
}


.features{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 768px) {

    .features{
        flex-direction: column;
        justify-content: space-around;
    }

    .benefitsList{
        margin-bottom: 1rem;
    }

    .bl_dt{
        margin-top: 0.5rem;
    }

}